<meta charset="UTF-8">
<!-- bootstrapに必要なタグ -->
<!-- 参考元 https://techacademy.jp/magazine/6270-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- BoostrapのCSS読み込み -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet">
<!-- JQuert読み込み -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- BootstrapのJS読み込み -->
<script src="assets/js/bootstrap.min.js"></script>

<title>Taskal</title>
