:root{
  --main-background-color: #DDFFFF;
  --font-color-gray: #CCC;
  --font-color-white: #FFF;
  --font-color-blue: #4689FF;
  --btn-color-blue: #4689FF;
  --btn-color-white: #FFF;
}

.taskal-container{
  display: none;
}

input a{
  display: block;
}

ul{
  list-style: none;
}

.main-background{
  background-color: var(--main-background-color);
  min-height: 100vh;
}

.btn-primary:hover {
  color: #007bff;
  background-color: var(--btn-color-white);
}

.error-message{
  margin-top:10px;
  color: red;
}

.taskal-container{
  padding: 50px 100px;
}

.index-header{
  display: flex;
  justify-content: center;
}

.login{

  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .login__title{
    font-size: 20px;
    color: var(--font-color-gray);
  }
  .login-form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    .login-form__name{
      margin-top: 20px;
    }
    .login-form__password{
      margin-top: 20px;
    }
    .login-form__login-btn{
      margin-top: 20px;
      width: 176px;
      padding: 10px;
      background-color: var(--btn-color-blue);
      color: var(--font-color-white);
    }
      .login-form__login-btn:hover{
        background-color: var(--btn-color-white);
        color: var(--font-color-blue);
      }
    .login-form__signup-btn{
      margin-top: 20px;
      width: 176px;
      padding: 10px;
      background-color: var(--btn-color-blue);
      color: var(--font-color-white);
      text-align: center;
      border-width: 1px;
      border-style: solid;
      border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
      border-image: initial;
    }
    .login-form__signup-btn:hover{
      background-color: var(--btn-color-white);
      color: var(--font-color-blue);
      text-decoration: none;
    }


.task-main{
  padding: 20px;
  margin: 0 auto;
  width: 500px;
  display: flex;
  flex-direction: column;
}
  .task-main__task-ul{
    margin-top:20px;
  }
  .task-main__add-task-form{
    margin-top: 20px;
  }

  .one-task{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }

.main-footer{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.sign-up{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  /* .sign-up__title{
    
  } */

.sign-up-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .sign-up-form__name{
    margin-top: 20px;
  }
  .sign-up-form__password{
    margin-top: 20px;
  }
  .sign-up-form__confirm-password{
    margin-top: 20px;
  }
  .sign-up-form__btn{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    padding: 0 10px;
  }
    .sign-up-form__btn--blue{
      width: 70px;
      padding: 10px;
      background-color: var(--btn-color-blue);
      color: var(--font-color-white);
    }
    .sign-up-form__btn--blue:hover{
      background-color: var(--btn-color-white);
      color: var(--font-color-blue);
      text-decoration: none;
    }

.detail_task{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 310px;
  background-color: white;
  display: none;
  padding: 20px;
  border-radius: 10px;
}

.add-detail-task-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .add-detail-task-form__task-name{
    width: 347px;
  }

  .add-detail-task-form__task-discription{
    margin-top: 20px;
  }

  .add-detail-task-form__task-due-date{
    margin-top: 20px;
    width: 347px;
  }

  .add-detail-task-form__btn{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 20px auto;
    padding: 20px 10px;
  }
    .add-detail-task-form__btn--blue{
      width: 100px;
      padding: 10px;
      background-color: var(--btn-color-blue);
      color: var(--font-color-white);
    }
    .add-detail-task-form__btn--blue:hover{
      background-color: var(--btn-color-white);
      color: var(--font-color-blue);
      text-decoration: none;
    }

.update_task{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: white;
  display: none;
  padding: 20px;
  border-radius: 10px;
}
  .update-task-form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    .update-task-form__task-name{
      width: 347px;
    }
    .update-task-form__task-discription{
      margin-top: 20px;
    }
    .update-task-form__task-due-date{
      margin-top: 20px;
      width: 347px;
    }
    .update-task-form__btn{
      display: flex;
      justify-content: space-between;
      width: 50%;
      margin-top: 20px auto;
      padding: 20px 10px;
    }
      .update-task-form__btn--blue{
        width: 100px;
        padding: 10px;
        background-color: var(--btn-color-blue);
        color: var(--font-color-white);
      }
      .update-task-form__btn--blue:hover{
        background-color: var(--btn-color-white);
        color: var(--font-color-blue);
        text-decoration: none;
      }
